* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.logoCompleto {
    display: flex; /* Agregamos flex a este contenedor también */
    align-items: center; /* Para alinear verticalmente los elementos */
    margin-top: 100px;
}
h3 {
    font-size: 40px;
    font-weight: bold;
}

svg {
    font-size: 100px;
    margin-right: 10px;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search{
    display: flex; /* Agregamos flex a este contenedor también */
    align-items: center; /* Para alinear verticalmente los elementos */
    margin-top: 100px;
    }
#searchInput{

    width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    border :1px solid whitesmoke;
    box-shadow:  5px 5px 14px #c9c9c9;
    background-color: whitesmoke;
}
input:focus {
    outline: none;
}

button{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 30px;
    padding: 5px;
    border-radius: 20px;
    margin-left:5px;
    border :1px solid gray;
    background-color: whitesmoke;
  
    box-shadow:  5px 5px 14px #c9c9c9;
    font-size: 15px;
    transition: transform 0.2s ease-in-out;
    border: none;
  }
  button:active {
    transform: translateY(3px);}
  
  button:hover {
    border: 1px solid #ffffff ;
    }
    

.fa-magnifying-glass{
    font-size: 30px;
    
  
    
}

